.full-body-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.input-movie,
.input-desc,
.form-control.input-genre,
.input-director,
.input-actors {
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 12px;
    width: 600px;
}

.input-boxes img {
    height: 20px;
    width: 20px;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-movie input,
.input-desc input,
.input-director input,
.input-actors input {
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
}

.checklist {
    list-style-type: none;
}

.checklist li {
    margin-bottom: 10px;
}

.labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    list-style-type: none;
    margin-top: 5px;
}

.labels li {
    text-align: center;
}