<!doctype html>

<head>
    <title>
        {% block title %}Home{% endblock %}
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body onload="initialize()">
    <div class="full-body-container">
        <div class="top-text">
            <div class="title">
                <h1 id="cinemaSonic">CinemaSonic</h1>
                <h2 id="subtitle">Find songs that match your movie taste!</h2>
            </div>
            <div class="input-boxes">
                <form id="input-form">
                    <div class="form-group">
                        <label for="inputMovie">Movie Title</label>
                        <div class="input-movie">
                            <img src="{{ url_for('static', filename='images/mag.png') }}" />
                            <input placeholder="Enter the movie title (ex: The Matrix)" id="title-in">
                        </div>
                        <p class="empty-input-error" id="empty-input-title-error">Please input the required field.</p>
                    </div>

                    <div class="form-group">
                        <label for="inputGenre">Movie Genre</label>
                        <select class="form-control form-select" aria-label="Movie Genre Select" id="genre-in">
                            <option selected>Select a genre</option>
                            {% for i in movieGenres %}
                            <option>{{ i }}</option>
                            {% endfor %}
                        </select>
                        <input type="text" class="form-control input-genre"
                            placeholder="If other: specify (one) movie genre" id="other-movie-genre">
                        <p class="empty-input-error" id="empty-input-genre-error">Please input the required field.</p>
                    </div>
                    <!--                    <div class="form-group">
                        <label for="inputYear">Release Year</label>
                        <div class="input-year">
                            <input placeholder="(optional)" id="year-in">
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label for="inputDirector">Director (full name)</label>
                        <div class="input-director">
                            <input placeholder="(optional)" id="director-in">
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="filters">
                            <div class="pop-filter">
                                <label for="popularity">Popularity</label>
                                <input type="range" min="1" max="3" value="2" class="slider" id="popularity-range">
                                <ul class="labels">
                                    <li>Niche only</li>
                                    <li>Anything</li>
                                    <li>Popular only</li>
                                </ul>
                            </div>
                            <div class="length-filter">
                                <label for="length">Song length</label>
                                <input type="range" min="1" max="3" value="2" class="slider" id="length-range">
                                <ul class="labels">
                                    <li>Short</li>
                                    <li>Anything</li>
                                    <li>Long</li>
                                </ul>
                            </div>
                            <div class="genre-filter">

                                <label for="genre">Song genres</label>
                                <button class="btn btn-primary" type="button" data-toggle="collapse"
                                    data-target="#songGenreCollapse" aria-expanded="false"
                                    aria-controls="songGenreCollapse" id="genreToggleButton"></button>
                                <div class="collapse" id="songGenreCollapse">
                                    <ul class="checklist">
                                        <li>
                                            <input type="checkbox" id="all" checked>
                                            <label for="all">All</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" class="music-genre" id="country-genre" checked>
                                            <label for="country">Country</label>
                                        </li>

                                        <li>
                                            <input type="checkbox" class="music-genre" id="hiphop-genre" checked>
                                            <label for="hiphop">Hip hop</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" class="music-genre" id="pop-genre" checked>
                                            <label for="pop">Pop</label>
                                        </li>

                                        <li>
                                            <input type="checkbox" class="music-genre" id="rap-genre" checked>
                                            <label for="rap">Rap</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" class="music-genre" id="rnb-genre" checked>
                                            <label for="rock">RnB</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" class="music-genre" id="rock-genre" checked>
                                            <label for="rock">Rock</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="formButton">
                        <button type="submit" class="btn btn-primary" id="submitButton" onclick="submit">Find me
                            songs!</button>
                        <button type="reset" class="btn btn-primary" id="resetButton" onclick="reset">Reset
                            Form</button>

                    </div>
                </form>
            </div>
        </div>

        <div id="output">
        </div>
</body>