<!doctype html>

<head>
    <title>
        {% block title %}Home{% endblock %}
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body onload="initialize()">
    <div class="full-body-container">
        <div class="top-text">
            <div class="title">
                <h1 id="CinemaSonic">CinemaSonic</h1>
                <h2 id="subtitle">Find songs that match your movie taste!</h2>
            </div>
            <div class="input-boxes">
                <form id="input-form">
                    <div class="form-group">
                        <label for="inputMovie">Movie Title</label>
                        <div class="input-movie">
                            <img src="{{ url_for('static', filename='images/mag.png') }}" />
                            <input placeholder="Enter the movie title (ex: The Matrix)" id="title-in">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDescription">Movie Description</label>
                        <div class="input-desc">
                            <input placeholder="(optional) Describe the movie in once sentence" id="desc-in">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputGenre">Genre</label>
                        <select class="form-control form-select" aria-label="Movie Genre Select" id="genre-in">
                            <option selected>Select a genre</option>
                            {% for i in movieGenres %}
                            <option>{{ i }}</option>
                            {% endfor %}
                        </select>
                        <input type="text" class="form-control input-genre" placeholder="If other: specify movie genre"
                            id="other-movie-genre">
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="submit">Find me songs!</button>
                    <button type="reset" class="btn btn-primary" onclick="reset">Reset Form</button>
                </form>
            </div>
        </div>

        <div id="output">
            <div class="container">
            </div>
        </div>
</body>